<section ng-controller="TimesheetsController" ng-init="get()">
    <h2>{{user.displayName}} - {{project.vendor.name}} - {{timesheet.status}}</h2>
    <h4>Timesheet from {{timesheet.start | date}} to {{timesheet.end | date}}</h4>
    <div class="timesheet clearfix {{project.timesheetCycle}}">
        <div class="col-sm-1 {{day.date|date: 'EEE'}}" ng-repeat="day in timesheet.daily">
            <div>
                {{day.date|date: 'MMM dd'}}<br>
				{{day.date|date: 'EEE'}}
                <input class="form-control" ng-readonly="timesheet.readonly" ng-model="day.hours">
            </div>
        </div>
        <div class="col-sm-1 total" >
            {{getTotal(timesheet.daily)}}
        </div>
    </div>

    <div oi-documents model="timesheet" urlbase="/timesheets" docs="timesheet.docs" functions="functions" noupload="timesheet.readonly" nodelete="timesheet.readonly"></div>

    <div ng-if="!isAdmin">
        <div ng-if="timesheet.status === 'New' || timesheet.status=='Saved' || timesheet.status=='Returned'">
            <button class="btn btn-primary" ng-click="save('Saved')">Save</button>
            <button ng-disabled="!timesheet.docs.length" class="btn btn-primary" ng-click="save('Submitted')">Submit</button>
            <span ng-if="!timesheet.docs.length">You must save with uploaded approved timesheets before submit.</span>
        </div>
        <button ng-if="timesheet.status === 'Submitted'" class="btn btn-primary" ng-click="save('ReturnRequested')">Request Return</button>
    </div>

    <div ng-if="isAdmin">
        <button ng-if="timesheet.status === 'Submitted'" class="btn btn-primary" ng-click="save('Approved')">Approve</button>
        <button ng-if="timesheet.status === 'Submitted' || timesheet.status === 'ReturnRequested'" class="btn btn-primary" ng-click="save('Returned')">Reject/Return</button>
        <button class="btn btn-primary" ng-click="save(timesheet.status)">Save</button>
        <button ng-if="timesheet.status==='Saved' || timesheet.status==='Returned'" ng-disabled="!timesheet.docs.length" class="btn btn-primary" ng-click="save('Submitted')">Submit</button>
    </div>

    <div class="clear pull-right">
        <button class="btn btn-primary" ng-click="goBack()">Back</button>
    </div>
</section>