<section data-ng-controller="ReportsController">
	<div class="page-header">
		<h1>Reports</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="timeSheetReport()" novalidate>
			<fieldset>
				<label class="form-group">Project
					<div class="controls">
						<ui-select reset-search-input ng-model="report.project" model-key="report.project" theme="bootstrap" >
							<ui-select-match placeholder="All">{{$select.selected.user.displayName}} - {{$select.selected.vendor.name}} - {{$select.selected.client}}</ui-select-match>
							<ui-select-choices repeat="item._id as item in projects | filter: $select.search">
								<div ng-bind-html="item.vendor.name | highlight: $select.search"></div>
								<small ng-bind-html="item.user.displayName | highlight: $select.search"></small> -
								<small ng-bind-html="item.client | highlight: $select.search"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</label>
				<label class="form-group input-group" > Start Date
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="report.startDate" class="form-control" placeholder="Start Date" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
					</div>
				</label>
				<label class="form-group input-group" > End Date
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" is-open="opened" ng-focus="toggleOpen($event)" close-text="Close"  type="text" data-ng-model="report.endDate" class="form-control" placeholder="End Date" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
					</div>
				</label>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" ng-disabled="!report.startDate">
				</div>
			</fieldset>
		</form>
	</div>

	<div class="col-md-12" ng-if="tsReport">
		<div class="page-header">
			<h2>Results</h2>
		</div>
		<table class="table  table-striped">
			<thead>
				<th>Name</th>
				<th>Project</th>
				<th ng-repeat="status in statuses">{{status}}</th>
				<th>Total</th>
			</thead>
			<tbody>
				<tr ng-repeat="row in tsReport">
					<td>{{row.project.user.displayName}}</td>
					<td>{{row.project.vendor.name}} - {{row.project.client}}</td>
					<td ng-repeat="status in statuses">{{row[status].hours}}</td>
					<td>{{row.hours}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
